# Jupyter Notebook of Carlos Moreno Fernandez

Here is the Jupyter Notebook that you can use to run your code. Remember that you data needs to be uploaded to the GitHub repository before you can use it. I recommend you to upload in the folder called *StudentProjects*.

There are a lot of information on how to use Jupyter Notebook on Internet. Here, I will add a small list of actions:
* Use the *Insert* menu to insert new cells
* Use the *Cell/Cell type* menu to change the style of a given cell: *Code* if you want to add Python code and *Markdown* if you want to add an informative cell
* Each cell can be executed individually. Then I recommend to include limited number of code lines in each of them.
* Use the *Edit* menu to delete cells.
* Remember to save your code once you add it.
* If when you run your code, you have errors due to libraries not included in the repository, please contact me.

If you have questions regarding the environment, please email me or use Teams.

In [1]:
# We would require again the following libraries to manage our dataset
# Numpy: used for large, multi-dimensional arrays and matrices, and for high-level mathematical functions
# Pandas: used for data manipulation and analysis
import pandas as pd
import numpy as np
# We will use a new library for machine learning, Scikit-learn. 
# This library allows us to implement easily machine learning models and operations over them. 
# This time we will use the predefined function to scale (min-max normalisation) our data
from sklearn.preprocessing import MinMaxScaler
# we will use the same library to divide our dataset in train and testing
from sklearn.model_selection import train_test_split
# We will import the functions to deal with a linear model.
import sklearn.linear_model as skl_lm
# and a function that calculates the performance
from sklearn.metrics import mean_squared_error
# We will use also another library to plot our model
import matplotlib.pyplot as plt

In [2]:
# header: indicates if the dataset has an initial line with the name of each column
dataset = pd.read_csv('Computer-Hardware-Dataset-data-header.csv', header=0)

In [3]:
dataset

,Vendor Name,Model Name,MYCT,MMIN,MMAX,CACH,CHMIN,CHMAX,PRP,ERP
0,adviser,32/60,125,256,6000,256,16,128,198,199
1,amdahl,470v/7,29,8000,32000,32,8,32,269,253
2,amdahl,470v/7a,29,8000,32000,32,8,32,220,253
3,amdahl,470v/7b,29,8000,32000,32,8,32,172,253
4,amdahl,470v/7c,29,8000,16000,32,8,16,132,132
...,...,...,...,...,...,...,...,...,...,...
204,sperry,80/8,124,1000,8000,0,1,8,42,37
205,sperry,90/80-model-3,98,1000,8000,32,2,8,46,50
206,sratus,32,125,2000,8000,0,2,14,52,41
207,wang,vs-100,480,512,8000,32,0,0,67,47
208,wang,vs-90,480,1000,4000,0,0,0,45,25

In [4]:
dataset.head()

  Vendor Name Model Name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0     adviser      32/60   125   256   6000   256     16    128  198  199
1      amdahl     470v/7    29  8000  32000    32      8     32  269  253
2      amdahl    470v/7a    29  8000  32000    32      8     32  220  253
3      amdahl    470v/7b    29  8000  32000    32      8     32  172  253
4      amdahl    470v/7c    29  8000  16000    32      8     16  132  132

In [5]:
print(dataset.describe())

              MYCT          MMIN          MMAX        CACH       CHMIN  \
count   209.000000    209.000000    209.000000  209.000000  209.000000
mean    203.822967   2867.980861  11796.153110   25.205742    4.698565
std     260.262926   3878.742758  11726.564377   40.628722    6.816274
min      17.000000     64.000000     64.000000    0.000000    0.000000
25%      50.000000    768.000000   4000.000000    0.000000    1.000000
50%     110.000000   2000.000000   8000.000000    8.000000    2.000000
75%     225.000000   4000.000000  16000.000000   32.000000    6.000000
max    1500.000000  32000.000000  64000.000000  256.000000   52.000000

            CHMAX          PRP          ERP
count  209.000000   209.000000   209.000000
mean    18.267943   105.622010    99.330144
std     25.997318   160.830733   154.757102
min      0.000000     6.000000    15.000000
25%      5.000000    27.000000    28.000000
50%      8.000000    50.000000    45.000000
75%     24.000000   113.000000   101.000000
max    176.000000  1150.000000  1238.000000

In [6]:
print(dataset.index)

RangeIndex(start=0, stop=209, step=1)

In [7]:
print(len(dataset.index))

209

In [8]:
values = dataset.isnull().sum()/len(dataset.index)*100
print(values)

Vendor Name    0.0
Model Name     0.0
MYCT           0.0
MMIN           0.0
MMAX           0.0
CACH           0.0
CHMIN          0.0
CHMAX          0.0
PRP            0.0
ERP            0.0
dtype: float64

In [9]:
for i in values:
 print("%.0f%%" % (i))

0%
0%
0%
0%
0%
0%
0%
0%
0%
0%

In [10]:
print(dataset.shape)

(209, 10)

In [11]:
print(dataset.describe())

              MYCT          MMIN          MMAX        CACH       CHMIN  \
count   209.000000    209.000000    209.000000  209.000000  209.000000
mean    203.822967   2867.980861  11796.153110   25.205742    4.698565
std     260.262926   3878.742758  11726.564377   40.628722    6.816274
min      17.000000     64.000000     64.000000    0.000000    0.000000
25%      50.000000    768.000000   4000.000000    0.000000    1.000000
50%     110.000000   2000.000000   8000.000000    8.000000    2.000000
75%     225.000000   4000.000000  16000.000000   32.000000    6.000000
max    1500.000000  32000.000000  64000.000000  256.000000   52.000000

            CHMAX          PRP          ERP
count  209.000000   209.000000   209.000000
mean    18.267943   105.622010    99.330144
std     25.997318   160.830733   154.757102
min      0.000000     6.000000    15.000000
25%      5.000000    27.000000    28.000000
50%      8.000000    50.000000    45.000000
75%     24.000000   113.000000   101.000000
max    176.000000  1150.000000  1238.000000

In [12]:
column_max = dataset.max()
column_min = dataset.min()
print(column_max)
print(column_min)

Vendor Name     wang
Model Name     vs-90
MYCT            1500
MMIN           32000
MMAX           64000
CACH             256
CHMIN             52
CHMAX            176
PRP             1150
ERP             1238
dtype: object
Vendor Name    adviser
Model Name         100
MYCT                17
MMIN                64
MMAX                64
CACH                 0
CHMIN                0
CHMAX                0
PRP                  6
ERP                 15
dtype: object

In [13]:
#Formula taken from 'https://stackoverflow.com/questions/50945734/normalization-error-in-pandas-jupyter-notebook' to be able 
#to normalize specific columns and skip the ones with text values
cols_to_norm = ['MYCT','MMIN','MMAX','CACH','CHMIN','CHMAX','PRP','ERP']
dataset[cols_to_norm] = dataset[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [14]:
print(dataset.describe())

             MYCT        MMIN        MMAX        CACH       CHMIN       CHMAX  \
count  209.000000  209.000000  209.000000  209.000000  209.000000  209.000000
mean     0.125976    0.087800    0.183498    0.098460    0.090357    0.103795
std      0.175498    0.121454    0.183411    0.158706    0.131082    0.147712
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.022252    0.022044    0.061562    0.000000    0.019231    0.028409
50%      0.062711    0.060621    0.124124    0.031250    0.038462    0.045455
75%      0.140256    0.123246    0.249249    0.125000    0.115385    0.136364
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

              PRP         ERP
count  209.000000  209.000000
mean     0.087082    0.068954
std      0.140586    0.126539
min      0.000000    0.000000
25%      0.018357    0.010630
50%      0.038462    0.024530
75%      0.093531    0.070319
max      1.000000    1.000000

In [15]:
# sklearn provides different ways of normalising/scaling our data
# first, we need to create a scaler and then apply it to the data
# define a min-max scaler
scaler = MinMaxScaler()

In [16]:
#A simple Hold-out method
#1.- Division of our dataset
#We decide to divide our dataset into two parts: 70% for training, and 30% for testing. For that, 
#we will use the function train_test_split. This function will require to divide the predictors from the target/label column. 

#[:,:−1]  All rows and all columns except the last one
#[:,−1]  All rows and last column

# we select all the colums except the last one
predictors = dataset[['MYCT','MMIN','MMAX','CACH','CHMIN','CHMAX','PRP']]
# for the target, we select the last column
target = dataset['ERP']

In [17]:
# to check the results, we print the dimensions of dataset
# the dimensions of the array of the predictors, which should be the same of the dataset with one column less
# the dimensions for the targets, which should be only one column
# Note that shape doesn't show dimensions equal to 1 in the columns
print('Dataset dimension: ',dataset.shape)
print('Predictors dimension: ', predictors.shape)
print('Target dimension: ', target.shape)

Dataset dimension:  (209, 10)
Predictors dimension:  (209, 7)
Target dimension:  (209,)

In [18]:
# Now that we have an array with predictors and another with the target values, we can use our train_test_split function
# test_size = 0.3 means that 30% goes to testing and the rest 70% for validation (as we wanted)
# random_state we use always the same size to always spit the data in the same way. 
# Necessary for comparison of more than one model
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.3, random_state = 101)

In [19]:
# we can check again the dimension of our train and test datasets
print('Predictors dimensions for training: ', X_train.shape)
print('Predictors dimensions for testing: ', X_test.shape)
print('Target dimensions for training: ', y_train.shape)
print('Target dimensions for testing: ', y_test.shape)

Predictors dimensions for training:  (146, 7)
Predictors dimensions for testing:  (63, 7)
Target dimensions for training:  (146,)
Target dimensions for testing:  (63,)

In [22]:
# To be able to visualise the model in a 2-dimensional plot, 
# we select predictor 1 (MYCT) as a single feature of the model for training and testing. 
# For that, we need to reshape them to have only one column
X_train_1 = X_train[:,1].reshape(-1,2)
X_test_1 = X_test[:,1].reshape(-1,2)

TypeError: '(slice(None, None, None), 1)' is an invalid key